/* headerのcss 
500px以下の画面幅の場合適応*/
*{
    
    font-family:  Helvetica,Arial, sans-serif;
 }

 body{
    background: #f8f8f8;
    font-size: 14px;
    font-family: Helvetica,Arial, sans-serif;
    margin: 0;
    color: #333;
 }
 

header{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    position:fixed;
    z-index: 4;
    /* top:8px;
    left:8px; */
    margin: 0;
}


h1{
    background-color: #ffffff;
    /* background-color: #ffffff; */
    font-size:20px;
    margin: 0px auto;
    
}
/* navのデザイン */


.clear{
    clear: both;
  }
  
  
  .slide-toggle{
    display: none;
  }
  
  .slidemenu{
    font-family: arial, sans-serif;
    max-width: 600px;
    margin: 0px auto; 
    /* overflow: hidden; */
  }
  
  .slidemenu label{
    width: 33%;
    
    text-align: center;
    display: block;
    float: left;
    color: #333;
    opacity: 0.2;
  }
  
  .slide-title{
      padding:100px;
  }

  .slidemenu span{
    padding: 0;  
  }
  
  
  .slidemenu label:hover{
    cursor: pointer;
    color: #666;
  }
  
  .slidemenu label span{
    display: block;
    padding: 10px;    
  }
  

  
  /*Bar Style*/
  
  .slider{
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    /* margin-top: 10px; */
    border-radius: 5px;
  }
  
  .slider .bar{
    width: 33%;
    height: 5px;
    background: #333;
    border-radius: 5px;
  }
  
  /*Animations*/
  .slidemenu label, .slider .bar {
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-sout;
  }
  
  /*Toggle*/
  
  .slidemenu .slide-toggle:checked + label{
    opacity: 1;
  }
  
  
  
  .slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
  .slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 33%; }
  .slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 67%; }
  

#yogaevent-nav img{
    margin-top: 6px;
    margin-bottom: 10px;
}

#danceevent-nav p,
#yogaevent-nav p,
#runevent-nav p{
    margin-top: auto; 
    
}

/* datepickerのcss */
.calender{
    text-align: center;
    display: flex;
    justify-content: center;
}
.calender img{
    height:20px;
}
#datepicker{
    width:80px;
    font-size: 14px;
    text-align: center;
}

/* footterのcss */ 
 footer{
    text-align: center;
    background-color: #fff;
    position: fixed;
    z-index: 3;
    bottom:0px;
    width: 100%;
    /* left:8px; */
}
 #toolbar div{
    text-align: center;
    width: 33%;
    /* border: solid 0.5px black;  */
    font-size: 10px;
    
}
 #toolbar{
    
    width: 100%;
    display: flex;
} 

.toolicon{
    /* fill:red; */
    height: 28px;
    width: 28px;
    margin-top: 2px;
}
#home-tool p,
#activity-tool p,
#setting-tool p{
    margin-top: -4px;
    margin-bottom:1px;
}




/* containerのcss */
a{
    text-decoration: none;
    color: black;
    position:relative;

}

.main-container{
    display: block;
    width: 95%;
    padding-top: 100px;
    margin: 0 auto;
}
/* .container{
    margin:auto;
    width: 354px;
    height: 265px;
    background-color: #fff;
    margin-bottom: 30px;

} */
/* データベースのimageがnullの場合 */
.ci-null{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 99.8%;
    height: 100%;
    box-shadow: #333;
    border: solid 0.3px black;
    /* border-radius: 30px; */
}


/*  データベースのimageが正常の場合 */
.image-container{
    height:160px;
}
.container-img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
}
.detail-container{
        position: relative;
    margin-top: -50px;
    margin-bottom: 10px;
    /* left: 0px; */
    z-index: 2;
    /* text-align: center; */
    /* width: 100%; */
    height: 80px;
    background-color: #fff;
    /* border: solid 0.3px black; */
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
/* .detail-container:last-child{
    margin-bottom: -40px;
} */
.locationName-container{
    position: absolute;
    display: flex;
    left: 20px;
    bottom: 20px;
    display: flex;
}
.profile-container{
    position: relative;
    z-index: 3;
    height: 50px;
    width: 50px;
    border: solid 0.3px black;
    border-radius: 30px;
    position: relative;
    top: -40px;
    left: 270px;
    background-color: #fff;
}
.profile-container img{
   
    width:100%;
    height:100%;
    border-radius: 30px;
}
.time-container{
    display: inline-block;
    position: absolute;
    /* margin-bottom: 100px; */
    z-index: auto;
    top: -30px;
    background-color: #808080;
    /* opacity: 0.5; */
    z-index: 2;
    height: 30px;
    padding: 0px 5px 0px 5px;
}
.time-container p{
    color: #fff;
    position: relative;
    top:4px;
}
.title{
    display: inline-block;
    margin: 0px 0px 0px 10px;
    font-size: 22px;
    position: relative;
    top: 4px;
}
.detailName-container{
    position: absolute;
    top: 10px;
    /* margin: 15px 20px 0px; */
    left: 20px;
}
.detailName-container p{
    font-size: 18px;
    font-weight: bolder;
    color: #6c6c6c;
}
.location-container{
    display: flex;
    position: absolute;
    top: 40px;
    left: 20px;
}

.location-icon{
    position: relative;
    /* top:3px; */
    height:16px;
    width:16px;
}
.location-name{
    margin: 0px 1px;
    font-size: 16px;
    color: darkgray;
}


